@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EMP<br />
    Ecole Militaire Polytechnique<br />
    <br />
    MDN<br />
    Ministère de la Défense Nationale<br />
</address>

<address>
    <strong>E-mail of owner @ViewBag.NameOfOwner :</strong>   <a href="mailto:@ViewBag.EmailOfOwner">@ViewBag.EmailOfOwner</a><br />
</address>